@import 'includes/vars';
@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/fonts';

// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';

.overflow-wrapper {
    overflow: hidden;
}

.block {
    position: relative;
    padding: 0 15px;

    .center-wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    @import 'sections/block-header';
    @import 'sections/block-content';
    @import 'sections/block-banner';
    @import 'sections/block-partners';
    @import 'sections/block-features';
    @import 'sections/block-interact';
    @import 'sections/block-presentation';
    @import 'sections/block-download';
    @import 'sections/block-subscribe';
    @import 'sections/block-footer';
}