&.block-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    z-index: 10;
    @include trans;

    &.sticky {
        position: fixed;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
        z-index: 9;
        @include trans;

        .center-wrapper {
            max-width: 100%;
            padding: 10px 0;
            @include trans;
        }
    }

    .center-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 54px 0;
        @include trans;

        @media only screen and (max-width: 992px) {
            padding: 30px 0;
        }
    }

    .header-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;

        a {
            display: flex;
            align-items: center;
            @include trans;
            
            &:hover {
                transform: scale(1.1);
                @include trans;
            }
        }
    }

    .header-menu {
        flex: 1 1;

        .burger {
            display: none;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #cecece;
            overflow: hidden;
            cursor: pointer;
            @include trans;

            &.active {
                border-color: transparent;
                @include trans;

                span {
                    transform: translate(200%, -50%);
                    background: #000000;
                    opacity: 0;
                    @include trans;
                }

                &:before,
                &:after {
                    background: #000000;
                    @include trans;
                }

                &:before {
                    top: 18px;
                    transform: rotate(-135deg);
                    @include trans;
                }

                &:after {
                    bottom: 18px;
                    transform: rotate(135deg);
                    @include trans;
                }
            }

            span {
                position: absolute;
                width: 30px;
                height: 2px;
                top: 50%;
                left: 4px;
                transform: translateY(-50%);
                background: #cecece;
                @include trans;
            }

            &:before,
            &:after {
                position: absolute;
                content: '';
                width: 30px;
                height: 2px;
                left: 4px;
                background: #cecece;
                @include trans;
            }

            &:before {
                top: 10px;
            }

            &:after {
                bottom: 10px;
            }
        }

        .menu-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 0 1 auto;

            .menu-items {
                display: flex;
                align-items: center;

                .menu-item {
                    padding: 0 20px;

                    &.active {
                        a {
                            color: #352DDC;
                            @include trans;
                        }
                    }
                    
                    a {
                        display: block;
                        width: fit-content;
                        color: #1B1B1D;
                        @include adaptive-font(400, 20, 18);
                        @include trans;

                        &:hover {
                            color: #4942E2;
                            @include trans;
                        }
                    }

                    @media only screen and (max-width: 992px) {
                        padding: 0 10px;

                        &:last-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {
            justify-content: flex-end;

            .burger {
                display: block;
                float: right;
            }

            .menu-wrapper {
                display: none;
            }
        }
    }
}