&.block-presentation {
    margin-bottom: 140px;

    h2 {
        color: #05031D;
        font: 400 48px $sf;
        text-align: center;
        margin-bottom: 20px;
    }

    h4 {
        color: #525050;
        font: 400 25px $sf;
        text-align: center;
        margin-bottom: 120px;
    }

    .presentation-slider-wrapper {
        position: relative;
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;

        .splash {
            display: block;
            position: absolute;
            z-index: -1;

            &.splash1 {
                top: -50px;
                left: -30px;
            }

            &.splash2 {
                bottom: -84px;
                right: -76px;
            }
        }

        .line {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        .pres-gal {
            padding-bottom: 30px;

            .slick-slide {
                padding: 15px;

                .inner-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:nth-child(2n+1) {
                    padding-top: 60px;
                }
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    margin: 0 15px;

                    &.slick-active {
                        button {
                            width: 18px;
                            height: 18px;
                            background: #4942D3;
                            @include trans;
                        }
                    }

                    button {
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: #9793E2;
                        @include trans;

                        &:before, &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}