&.block-banner {
    margin-bottom: 100px;

    .center-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .banner-info {
        flex: 0 1 60%;
        //margin-top: 90px;

        .inner-wrapper {
            max-width: 660px;

            h1 {
                color: #1F1E1E;
                //font: 400 64px $sf;
                @include adaptive-font(500, 64, 28);
                margin-bottom: 30px;
            }

            p {
                color: #525050;
                @include adaptive-font(400, 26, 18);
                margin-bottom: 30px;
            }

            .bottom-line {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                flex: 1 1 100%;

                .stl-btn1 {
                    margin-right: 20px;
                }
            }

            @media only screen and (max-width: 768px) {
                h1, p {
                    text-align: center;
                }

                .bottom-line {
                    justify-content: center;
                }
            }
        }
    }

    .banner-preview {
        position: relative;
        flex: 0 1 24%;

        .banner-splash {
            display: block;
            position: absolute;
            width: 232%;
            height:  108%;
            // width: 724px;
            // height: 690px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .7;
            z-index: -1;

            img {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .banner-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .center-wrapper {
            justify-content: center;
        }

        .banner-info {
            flex: 1 1 100%;
            margin-bottom: 30px;
        }

        .banner-preview {
            flex: 0 1 240px;
        }
    }
}