&.block-subscribe {
    background: #ffffff;
    margin-bottom: 140px;

    .splash {
        display: block;
        position: absolute;
        width: 732px;
        height: 700px;
        top: 100%;
        left: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;

        img {
            width: 100%;
        }
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
    }

    .top-line {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex: 0 1 600px;

        h2 {
            flex: 0 1 376px;
            color: #05031D;
            @include adaptive-font(500, 48, 24);
            text-align: center;
            margin-bottom: 20px;
        }

        h4 {
            flex: 0 1 566px;
            color: #464646;
            @include adaptive-font(400, 25, 20);
            text-align: center;
            margin-bottom: 60px;
        }
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        flex: 1 1 100%;

        .form {
            flex: 0 1 756px;

            .form-box {
                display: flex;
                align-items: center;
                flex: 1 1 100%;
                border-radius: 60px;
                background: #352DDC;
                overflow: hidden;
                padding: 15px;

                input {
                    flex: 1 1;
                    color: #ffffff;
                    @include adaptive-font(400, 30, 18);
                    padding: 0 20px;

                    &::placeholder {
                        color: inherit;
                        font: inherit;
                        @include trans;
                    }

                    &:focus,
                    &:active {
                        &::placeholder {
                            opacity: 0;
                            @include trans;
                        }
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 1 220px;
                    height: 80px;
                    border-radius: 60px;
                    background: #ffffff;
                    color: #352DDC;
                    @include adaptive-font(500, 28, 18);
                    text-align: center;
                    cursor: pointer;
                    @include trans;

                    &:hover {
                        opacity: .7;
                        @include trans;
                    }
                }
            }
        }
    }
}