&.block-features {
    margin-bottom: 120px;

    h2 {
        flex: 1 1 100%;
        color: #05031D;
        @include adaptive-font(500, 48, 24);
        text-align: center;
        margin-bottom: 20px;
    }

    h4 {
        flex: 1 1 100%;
        color: #525050;
        @include adaptive-font(400, 25, 18);
        text-align: center;
        margin-bottom: 80px;
    }

    .center-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .features-prev {
        position: relative;
        flex: 0 1 460px;

        .prev-splash {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 720px;
            height: 686px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .7;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .prev-image {
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .features-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 1;
        padding-left: 10%;

        .feature-item {
            display: flex;
            align-items: center;
            flex: 0 1 60%;

            .item-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 84px;
                height: 84px;
                border-radius: 50%;
                margin-right: 40px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item-info {
                flex: 1 1;

                .title {
                    color: #05031D;
                    @include adaptive-font(400, 30, 18);
                    font: 400 30px $sf;
                    margin-bottom: 10px;
                }

                .desc {
                    color: #525050;
                    @include adaptive-font(400, 16, 14);
                }
            }

            &:nth-child(2) {margin-left: 110px;}
            &:nth-child(3) {margin-left: 110px;}
            &:nth-child(4) {margin-left: 30px;}
        }
    }
}