.pull-right { float: right; }
.pull-left { float: left; }

.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

.text-strike { text-decoration: line-through; }
.text-muted { color: #a1a1a1; }

.hidden { display: none; }


.cf { @include cf(); }

.stl-btn1 {
    display: block;
    position: relative;
    width: fit-content;
    border-radius: 30px;
    background: #352DDC;
    box-shadow: 0px 0px 10px rgba(79,72,217,.3);
    color: #ffffff;
    font: 400 18px/18px $sf;
    padding: 18px;
    cursor: pointer;
    @include trans;
    
    &:hover {
        background: #4942E2;
        @include trans;
    }
}