@font-face {
    font-family: 'Circula';
    src: url('../fonts/Circula/Circula-Medium.eot');
    src: url('../fonts/Circula/Circula-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circula/Circula-Medium.woff2') format('woff2'),
    url('../fonts/Circula/Circula-Medium.woff') format('woff'),
    url('../fonts/Circula/Circula-Medium.ttf') format('truetype'),
    url('../fonts/Circula/Circula-Medium.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirculaStd';
    src: url('../fonts/Circula/CircularStd-Medium.eot');
    src: url('../fonts/Circula/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circula/CircularStd-Medium.woff2') format('woff2'),
    url('../fonts/Circula/CircularStd-Medium.woff') format('woff'),
    url('../fonts/Circula/CircularStd-Medium.ttf') format('truetype'),
    url('../fonts/Circula/CircularStd-Medium.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirculaStd';
    src: url('../fonts/Circula/CircularStd-Black.eot');
    src: url('../fonts/Circula/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circula/CircularStd-Black.woff2') format('woff2'),
    url('../fonts/Circula/CircularStd-Black.woff') format('woff'),
    url('../fonts/Circula/CircularStd-Black.ttf') format('truetype'),
    url('../fonts/Circula/CircularStd-Black.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirculaStd';
    src: url('../fonts/Circula/CircularStd-Bold.eot');
    src: url('../fonts/Circula/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circula/CircularStd-Bold.woff2') format('woff2'),
    url('../fonts/Circula/CircularStd-Bold.woff') format('woff'),
    url('../fonts/Circula/CircularStd-Bold.ttf') format('truetype'),
    url('../fonts/Circula/CircularStd-Bold.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CirculaStd';
    src: url('../fonts/Circula/CircularStd-Book.eot');
    src: url('../fonts/Circula/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circula/CircularStd-Book.woff2') format('woff2'),
    url('../fonts/Circula/CircularStd-Book.woff') format('woff'),
    url('../fonts/Circula/CircularStd-Book.ttf') format('truetype'),
    url('../fonts/Circula/CircularStd-Book.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
}