* , :after, :before{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {outline: none !important;}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, b, i, li, td{
    font-family: $bf;
    font-weight: 300;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        font: 300 16px/28px $bf;
    }
}

p {
    font: 400 16px $bf;

    a {
        color: inherit;
        font: inherit;
    }
}

a {
    color: #222; 
    font: 400 16px $bf;
    text-decoration: none;
}

b, strong {
    font-weight: 700;
}

button,
input,
textarea {
    border-radius: 0;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}