footer.block.block-footer
    .footer-wrapper
        .footer-info
            .block-logo: a(href="#"): img(src="assets/img/logo.png", alt="footer logo")
            .block-info Task management is the process of managing a task through its life cycle. 
            .block-soc
                ul.soc-menu
                    li: a(href="#"): img(src="assets/img/facebook.png", alt="facebook")
                    li: a(href="#"): img(src="assets/img/instagram.png", alt="instagram")
                    li: a(href="#"): img(src="assets/img/linkedin.png", alt="linkedin")
                    li: a(href="#"): img(src="assets/img/twitter.png", alt="twitter")
        .footer-menu
            .block-menu
                .title Quick Links
                ul.menu
                    li: a(href="#") Home
                    li: a(href="#") About Us
                    li: a(href="#") Features
                    li: a(href="#") Blog

            .block-menu
                .title Features
                ul.menu
                    li: a(href="#") Service
                    li: a(href="#") Media
                    li: a(href="#") Brands
                    li: a(href="#") FAQ

            .block-menu
                .title Blogs
                ul.menu
                    li: a(href="#") Terms & Conditions
                    li: a(href="#") Privacy
                    li: a(href="#") Support
                    li: a(href="#") Contact Us

    .bottom-line: .copyright &copy; &nbsp; 2019  All Rights Reserved by Antor Paul