footer.block.block-footer
    .footer-wrapper
        .footer-info
            .block-logo
                a(href="#")
                    img(src="assets/img/logo.png", alt="footer logo")
            .block-info Task management is the process of managing a task through its life cycle. 
            .block-soc
                ul.soc-menu
                    li
                        a(href="#")
                            img(src="assets/img/facebook.png", alt="facebook")
                    li
                        a(href="#")
                            img(src="assets/img/instagram.png", alt="instagram")
                    li
                        a(href="#")
                            img(src="assets/img/linkedin.png", alt="linkedin")
                    li
                        a(href="#")
                            img(src="assets/img/twitter.png", alt="twitter")
        .footer-menu
            .block-menu
                .title Quick Links
                ul.menu
                    li
                        a(href="#") Home
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Features
                    li
                        a(href="#") Blog
            .block-menu
                .title Features
                ul.menu
                    li
                        a(href="#") Service
                    li
                        a(href="#") Media
                    li
                        a(href="#") Brands
                    li
                        a(href="#") FAQ
            .block-menu
                .title Blogs
                ul.menu
                    li
                        a(href="#") Terms & Conditions
                    li
                        a(href="#") Privacy
                    li
                        a(href="#") Support
                    li
                        a(href="#") Contact Us

    .bottom-line
        .copyright 
            i.cop
                svg#copyright_1_(data-name="copyright (1)", xmlns="http://www.w3.org/2000/svg", width="15.437", height="15.437", viewBox="0 0 15.437 15.437")
                    path#Path_54(data-name="Path 54", d="M7.718,0a7.718,7.718,0,1,0,7.718,7.718A7.727,7.727,0,0,0,7.718,0Zm0,14.433a6.714,6.714,0,1,1,6.714-6.714A6.722,6.722,0,0,1,7.718,14.433Z", fill="#fff")
                    path#Path_55(data-name="Path 55", d="M84.3,78.254a.5.5,0,0,0-.694.152,2.621,2.621,0,1,1-.036-2.875.5.5,0,0,0,.832-.562,3.625,3.625,0,1,0,.05,3.979A.5.5,0,0,0,84.3,78.254Z", transform="translate(-73.429 -69.278)", fill="#fff")
            | - 2019  All Rights Reserved by Antor Paul