header.block.block-header: .center-wrapper
        .header-logo: a(href="#"): img(src="assets/img/logo.png", alt="header logo")

        .header-menu
            button.burger: span

            .menu-wrapper
                ul.menu-items
                    li.menu-item.active: a(href="#") Home
                    li.menu-item: a(href="#") About us
                    li.menu-item: a(href="#") Features
                    li.menu-item: a(href="#") Blog
                    li.menu-item: a(href="#") Contact
                
                button.stl-btn1.download Download app